body {background-color: white;}

.no_display {
    transition: opacity 0.3s ease-out;
    opacity: 0 !important; 
    height: 0 !important; 
    overflow: hidden;
}
.red {
    color: rgb(255, 71, 47);
}
.green {
    color: rgb(17, 189, 17);
}


.title {
	margin: 0 auto;
     	width: 100px; 
  	color: white;
}

.image_wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.map__image, .map__image_eco, .map__image_grou{
    position: relative;
    margin-left: auto;
    margin-right: auto;

}


.map__list{
    width: 20vw;
    display: inline-flex;
    flex-direction: row;
}

.map__list .non-active {
    display: None;

}

.map__image .is-active{
    fill:blueviolet;
}

.btn-secondary {
    width:100%;
}

.map__list li.is-active{
    color:chartreuse;
    font-weight: bold;

}

.communes { 
	fill           : #b9b9b9;
	fill-opacity   : 1;
	stroke         : white;
	stroke-opacity : 1;
	stroke-width   : 0.001;""
    transition: fill 0.3s;
}

.colour0 {fill: #F9EBEA;}
.colour1 {fill: #F2D7D5;}
.colour2 {fill: #E6B0AA;}
.colour3 {fill: #D98880;}
.colour4 {fill: #CD6155;}
.colour5 {fill: #C0392B;}
.colour6 {fill: #A93226;}

.green1 {fill: #D4EFDF;}
.green2 {fill: #E9F7EF;}
.green3 {fill: #A9DFBF;}
.green4 {fill: #7DCEA0;}
.green5 {fill: #52BE80;}

.yellow1 {fill: #FDEBD0}
.yellow2 {fill: #FAD7A0}
.yellow3 {fill: #F8C471}
.yellow4 {fill: #F5B041}
.yellow5 {fill: #F39C12}



  
polygon:hover { 
  	fill: #626567;
      transition: fill 0.3s;
    }
    


.map_wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.solution{
    display: flex;
    flex-direction: column;
    width:40vw;
    height: auto;
    opacity: 1;
    transition: all 0.3s ease-out;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    
}

.header {
    position: relative;
    text-align: center;
    color: white;
}

.text-header {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas{
    max-height:65vh
}

.map, .map_eco, .map_gour{
    padding : 6rem;
}

.text-align{

    margin-bottom: 3rem;
}

.solution_chart {
    display:flex;
    flex-direction: column;
    width:80vw;
}

.chart_description {
    margin:5rem;
}


#quartier, #quartier6, #quartier3{
    position: absolute;
    top:0;
    right:0;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#aaa;
    flex-grow: 1;
    height:auto;

}

footer > div {
    margin:3rem;
   width: 30vw;
  flex-basis: 30vw;
  flex-grow: 1;
  text-align :justify

}



footer > div > h4{
    text-align: center;
    margin-bottom: 1.4rem;
}


