body {background-color: coral;}
div.title {
  text-align: center;
}

.communes { 
	fill           : #b9b9b9;
	fill-opacity   : 1;
	stroke         : white;
	stroke-opacity : 1;
	stroke-width   : 0.002;
}

polygon:hover { 
  	fill: yellow;
	}


