body {background-color: white;}

.no_display {
    transition: opacity 0.3s ease-out;
    opacity: 0 !important; 
    height: 0 !important; 
    overflow: hidden;
}
.red {
    color: rgb(255, 71, 47);
}
.green {
    color: rgb(17, 189, 17);
}


.title {
	margin: 0 auto;
     	width: 100px; 
  	color: white;
}

.image_wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.map__image, .map__image_eco, .map__image_grou{
    position: relative;
    margin-left: auto;
    margin-right: auto;

}


.map__list{
    width: 20vw;
    display: inline-flex;
    flex-direction: row;
}

.map__list .non-active {
    display: None;

}

.map__image .is-active{
    fill:blueviolet;
}

.btn-secondary {
    width:100%;
}

.map__list li.is-active{
    color:chartreuse;
    font-weight: bold;

}

.communes { 
    cursor : pointer;
	fill           : #b9b9b9;
	fill-opacity   : 1;
	stroke         : white;
	stroke-opacity : 1;
	stroke-width   : 0.001;
    transition: fill 0.3s;
}

.colour0 {fill: #F9EBEA;}
.colour1 {fill: #F2D7D5;}
.colour2 {fill: #E6B0AA;}
.colour3 {fill: #D98880;}
.colour4 {fill: #CD6155;}
.colour5 {fill: #C0392B;}
.colour6 {fill: #A93226;}

.green1 {fill: #D4EFDF;}
.green2 {fill: #E9F7EF;}
.green3 {fill: #A9DFBF;}
.green4 {fill: #7DCEA0;}
.green5 {fill: #52BE80;}

.yellow1 {fill: #FDEBD0}
.yellow2 {fill: #FAD7A0}
.yellow3 {fill: #F8C471}
.yellow4 {fill: #F5B041}
.yellow5 {fill: #F39C12}


.intro {
    margin: 3rem;
}
  
polygon:hover { 
  	fill: #626567;
      transition: fill 0.3s;
    }
    


.map_wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.solution{
    display: flex;
    flex-direction: column;
    width:40vw;
    height: auto;
    opacity: 1;
    transition: all 0.3s ease-out;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.header {
    position: relative;
    text-align: center;
    color: white;
}

.text-header {
    
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas{
    max-height:65vh
}

.map, .map_eco, .map_gour{
    padding : 6rem;
}

.text-align{
    margin-bottom: 3rem;
}

.solution_chart {
    display:flex;
    flex-direction: column;
    width:80vw;
}

.chart_description, .lesaviezvous, .score_info {
    margin:3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lesaviezvous {
    background-color: #b3d1ffa1;
    height : 45vh;
}


#quartier, #quartier6, #quartier3{
    position: absolute;
    top:0;
    right:0;
}


footer {
    color: #dedede;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#31628a;
    flex-grow: 1;
    height:auto;

}

footer > div {
    margin:3rem;
   width: 30vw;
  flex-basis: 30vw;
  flex-grow: 1;
  text-align :justify

}



footer > div > h4{
    text-align: center;
    margin-bottom: 1.4rem;
}



.box {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    position: relative;
    width: 35vw;
    height: 35vh;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: .4s;
    text-align: center;
  }
  .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
  }
  .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
  }
  .box .fas {
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: #fff;
    color: #2C3A47;
  }
  .box .fa2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .box .text {
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    background-color: #597191b5;
    border-radius: 3px;
    transition: .4s;
  }
  .box .text .fa1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .box .text h3 {
    color: #004085;
  }
  .box .text div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 30px 60px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  .box .text div h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .box .text div p {
    font-size: 15px;
  }
  .box:hover {
    transform: rotateY(-20deg) skewY(3deg);
  }
  .box:hover .text {
    transform: rotateY(20deg) skewY(-3deg);
  }

